@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body, body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
}

.centeredFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeredFlex>* {
    display: block;
}

.rowFlex {
    flex-direction: row;
}

.columnFlex {
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 20px 40px;
    max-width: 40vw;
    text-align: center;
}

.red {
    background: #FF8888;
}

.green {
    background: #C2EF9E;
}

.darkgray {
    background: #C4C4C4;
}

.lightgray {
    background: #E5E5E5;
}

.lightred {
    background: #FFAFAF 45%;
}

h1 {
    font-weight: 700;
    display: block;
}

h2 {
    font-weight: 500;
    display: block;
}

h3 {
    font-weight: 300;
    display: block;
}

.languageSelector {
    position: fixed;
    right: 10vw;
    top: 10vh;
    width: 10vw;
    height: 10vh
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "heading heading" "selector1 selector2";
    text-align: center;
    border: 1px solid black;
}

.grid-container div {
    border-radius: 0;
}

.heading {
    grid-area: heading;
    padding: 10px 0px;
    border-bottom: 1px solid black;
}

.selector1 {
    grid-area: selector1;
    border-right: 1px solid black;
}

.selector2 {
    grid-area: selector2;
}

.choose {
    margin-top: 100px;
    padding: 10px 30px;
}

.choose::-webkit-file-upload-button {
    display: inline-block;
    background: #c4c4c4;
    border: none;
    padding: 7px 15px;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;
    font-size: 16px;
}

.warningBox {
    display: none;
    padding: 10px;
    transform: translateY(-150px);
    width: 50vw;
    margin: auto;
    text-align: center;
}

.imageContainer {
    width: 80vh;
    height: 60vh;
    margin-top: 30px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
}

progress[value]::-webkit-progress-value {
    background-color: #C2EF9E;
    border-radius: 10px;
}