<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Please wait</title>
</head>

<body>
    <div class="centeredFlex columnFlex" style="height:100vh">
        <h2>Detecting...</h2>
        <progress id="bar" value="32" max="100" style="background-color: aliceblue;"> 32% </progress>
        <br/><br/>
        <h3>Thanks for your patience</h3>
    </div>
</body>

</html>