<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    This is a web app to detect the presence of cells and their nature.<br>
    Furthermore, the app can give insights on what possibly could the cells be.<br>
    Currently, it shows excellent results on urine samples, and the Deep Learning Model used is trained only for that.<br>
    <br><h5>Click <a href="{{ url_for('index') }}">here</a> to get back to the app and see things in action!</h5>
</body>
</html>