<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="./static/style.css"> -->
</head>
<body>
    <!-- <div class="languageSelector">
        <div class="languageLabelContainer">
            <div class="languageLabel">En</div>
            <div class="languageLabel">Hi</div>
        </div>
        <div class="languageTypography">Select Language</div>
    </div> -->
    <div class="centralContainer">
        <div class="videoContainer">
            <img src="../images/sharpFrame.jpg" width="100%" height="100%">
        </div>
        <button class="videoActionButton red">Classify Cells</button>
    </div>
    <div class="extraButton">
        <button class="videoActionButtonSmall green"><a href="{{ url_for('result') }}">Choose file...</a></button>
    </div>
</body>
</html>