<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="./static/style.css"> -->
</head>
<body>
    <!-- <div class="languageSelector">
        <div class="languageLabelContainer">
            <div class="languageLabel">En</div>
            <div class="languageLabel">Hi</div>
        </div>
        <div class="languageTypography">Select Language</div>
    </div> -->
    <div class="centralContainer">
        <div class="videoContainer">
            <img src="../images/sharpFrame.jpg" width="100%" height="100%">
        </div>
    </div>
    <div class="extraButton">
        <button class="videoActionButtonSmall green">Choose Another File...</button>
    </div>
    <div class="reportGenerationBox">
        <div class="bloodCellTableContainer">
            <div class="row">
                <div class="key rbc"></div>
                <div class="value">RBC</div>
            </div>
            <div class="row">
                <div class="key wbc"></div>
                <div class="value">WBC</div>
            </div>
            <div class="row">
                <div class="key epi"></div>
                <div class="value">Epithelial</div>
            </div>
        </div>
        <div class="reportGenerationControl">
            <button class="videoActionButtonSmall red" style="font-size:16px; line-height: 17px;">Generate Report</button>
        </div>
    </div>
</body>
</html>